div {
	text-align : center;
	line-height: 300px;
	height : 300px;
	width : 300px;
	background-color: 	#DAA520;
	margin-top : 10em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 80px;
	/*transform: rotate(-30deg) translateX(10em) translateY(5em) scale(0.5) skewX(15deg);*/

}

.jl {
	transition : all 1s ;
	animation: slide 2s;
}

.jl:hover {
	background-color: blue;
	transform: rotate(720deg);
}
@keyframes slide {
	0% {
		transform: translateX(-200em);
	}
	70% {
		transform: translateX(2em);
	}
	100% {
		transform: translateX(0);
	}
}
