h1 {
	text-align: center;
}
.premier {
	background-color: grey;
}

#img {
	float: left;
	padding-right: 20px;
}

#affiche table {
	border: 1px solid black;
	border-collapse: collapse;
}

#affiche table th {
	border: 1px solid black;
}

#affiche table tr {
	border: 1px solid black;
}

#affiche table td {
	border: 1px solid black;
}


