*
{
    box-sizing: border-box;
}

body {
max-width: 70%;
background-color: #2A4046;

}
.main {
	background-color: #E6F6FF;
	    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 60px;
}
.secondInput {
	padding-bottom: 60px;
}

h1{
	color: red;
}

form {
	text-align: center;
	max-width: 80%;
}
#jours, #mois , #année {
	padding: 5px;
}
.submit {
	padding: 10px;
	text-align: left;
}
legend {
	text-align: left;
}